.frameworks {
    display: flex;
    flex-direction: row;
    width: 83% !important;
    justify-content: center;
}

.framework {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    justify-content: center;
    text-align: center;
    flex: unset;
}

.frameworks img {
    max-width: 76%;
}

.converters img {
    width: 57%;
}

@media (max-width: 600px) {
    .frameworks {
        display: block;
    }
    .framework {
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .frameworks img {
        width: 170px;
    }
    .converters img {
        width: 23%;
    }
}

