<footer class="nav-footer">
<!--    <section class="sitemap mobile-hide">-->
        <!--<a href="https://github.com/onnx" class="nav-home">-->
        <!--</a>-->
        <!--<div>-->
            <!--<h3>Resources</h3>-->
            <!--<a href="https://caffe2.ai/">Caffe2</a>-->
            <!--<a href="https://github.com/Microsoft/CNTK">Cognitive Toolkit</a>-->
            <!--<a href="http://pytorch.org/">PyTorch</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<h3>Blogs</h3>-->
            <!--<a href="https://research.fb.com/facebook-and-microsoft-introduce-new-open-ecosystem-for-interchangeable-ai-frameworks/">Facebook Research</a>-->
            <!--<a href="https://www.microsoft.com/en-us/cognitive-toolkit/blog/2017/09/microsoft-facebook-create-open-ecosystem-ai-model-interoperability/">Microsoft</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<h3>Tutorials</h3>-->
            <!--<a href="http://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html">Super Resolution Tutorial</a>-->
        <!--</div>-->
        <!--<div class="social-media-links">-->
            <!--<h3>Social Media</h3>-->
            <!--<a href="https://twitter.com/onnxai">-->
                <!--<i class="fa fa-twitter-square" aria-hidden="true"></i>-->
            <!--</a>-->
            <!--<a href="https://www.facebook.com/onnxai/">-->
                <!--<i class="fa fa-facebook-square" aria-hidden="true"></i>-->
            <!--</a>-->
        <!--</div>-->
    <!--</section>-->

    <div class="footer-logos">
        <!--<div class="footer-logos-inner">-->
        <div class="footer-logo">
            <img class="aws-logo" src="assets/AWS_Logo_White_@2x.png" alt="AWS" />
        </div>
        <div class="footer-logo">
            <!--<a href="https://code.facebook.com/projects/" target="_blank">-->
                <img class="fb-logo" src="assets/fos_logo_white_text.png" alt="Facebook Open Source" />
            <!--</a>-->
        </div>
        <div class="footer-logo">
            <img class="ms-logo" src="assets/Microsoft_logo_white2.png" alt="Microsoft" />
        </div>
        <!--</div>-->
    </div>



    <section class="copyright">
        Copyright © 2017 Facebook Inc.
    </section>

</footer>


