<style>
.nav-footer div.inline {
  display: inline-block;
  margin-right: 3em;
  margin-bottom: 3em;
  line-height: 1.75em;
}
.nav-footer h3 {
  font-weight: bold;
  color: #ffffff;
}
.nav-footer div, .nav-footer div a { color: #808080; }
footer .logo {
  width: 3em;
  height: 3em;
  float: right;
}
footer .logo img {
  width: 100%;
  height: 100%;
}
</style>
<footer class="nav-footer">
  <div class="inline">
    <h3>ONNX</h3>
    <div>
      <a href="http://onnx.ai/supported-tools">Supported Tools</a>
    </div>
    <div>
      <a href="http://onnx.ai/news">News</a>
    </div>
    <div>
      <a href="http://onnx.ai/about">About</a>
    </div>
  </div>
  <div class="inline">
    <h3>Resources</h3>
    <div>
      <a href="https://github.com/onnx/tutorials">Tutorials</a>
    </div>
    <div>
      <a href="https://github.com/onnx/models">Model Zoo</a>
    </div>
    <div>
      <a href="https://github.com/onnx">GitHub</a>
    </div>
  </div>
  <div class="logo">
    <img src="assets/mlogo.png">
  </div>

  <section class="copyright">
    Copyright © 2019 ONNX Project Contributors
  </section>
</footer>
