<nav class="topnav" role="navigation">
    <ul class="navbar">
        <li class="spacer"></li>
        <li><a class="title" href="./"><img src="assets/mlogo.png">ONNX</a></li>
        <li class="spacer"></li>
        <li class="spacer-push"></li>
        <li class="mobile-hide"><a href="/news">News</a></li>
        <li class="mobile-hide"><a href="/about">About</a></li>

        <li class="mobile-hide"><a href="/supported-tools">Supported Tools</a></li>
        <li class="mobile-hide"><a href="https://github.com/onnx/tutorials">Tutorials</a></li>
        <li class="mobile-hide"><a href="https://github.com/onnx/models">Model Zoo</a></li>

        <li class="mobile-hide"><a href="https://github.com/onnx">GitHub</a></li>
        <li class="spacer"></li>
        <li class="mobile-show"><a id="mobile-nav-open"><i class="menu-icon"></i></a></li>
    </ul>
</nav>

