

<header class="fixed-top header-content">
    <div class="text-center top-toast py-2 px-3 text-white" id="newsSlider" role="region" aria-live="polite" aria-label="News"></div>
    <div class="bg-overlay">
        <nav class="navbar navbar-expand-lg navbar-custom" aria-label="Main menu">
            <a id="ONNXLogo" class="navbar-brand" href="/index.html">
                <img src="/images/ONNX-Logo.svg" class="d-inline-block align-top onnx-logo" alt="ONNX Home" />
            </a>

            <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-md-top mt-md-0 mt-2" id="navbarNav">
                <div class="mr-auto"></div>
                <div class="my-md-2 mb-0 mt-2 my-lg-0 pl-3 pl-lg-0">
                    <ul class="navbar-nav navbar-nav mr-auto text-uppercase" id="navigation">

                          <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle pr-3" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Docs</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="https://onnx.ai/onnx/intro/">Introduction and Concepts</a>
      <a class="dropdown-item" href="https://onnx.ai/onnx/operators/">Operators</a>
      <a class="dropdown-item" href="https://onnx.ai/onnx/api/">Python APIs</a>
      <a class="dropdown-item" href="/supported-tools.html">Supported Tools</a>
      <a class="dropdown-item" href="https://github.com/onnx/tutorials">Tutorials</a>
      <a class="dropdown-item" href="https://onnx.ai/sklearn-onnx/">sklearn-onnx</a>
      <a class="dropdown-item" href="https://onnx.ai/onnx-mlir/">onnx-mlir</a>
      <a class="dropdown-item" href="https://onnx.ai/backend-scoreboard/">Backend Scoreboard</a>
      
    </div>

  </li>
                  
                     
                        <li class="nav-item news">
                            <a class="nav-link pr-3" href="/news.html">NEWS</a>
                        </li>
                        <li class="nav-item about">
                            <a class="nav-link pr-3" href="/about.html">ABOUT</a>
                        </li>
                        
                        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle pr-3" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Community</a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="/slack.html" target="_blank">Slack</a>
      <a class="dropdown-item" href="https://twitter.com/onnxai">Twitter</a>
      <a class="dropdown-item" href="https://www.facebook.com/onnxai/" target="_blank">Facebook</a>
      <a class="dropdown-item" href="https://github.com/onnx/onnx/discussions" target="_blank">Github Discussion</a>
      <a class="dropdown-item" href="https://wiki.lfai.foundation/pages/viewpage.action?pageId=18481196" target="_blank">Calendar</a>
      <a class="dropdown-item" href="https://www.youtube.com/onnxai">Youtube</a>
      <a class="dropdown-item" href="https://wiki.lfaidata.foundation/">Wiki (LF AI & Data)</a>
    </div>
    </li>
                        
                        
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/onnx" target="_blank">GITHUB</a>
                        </li>
                        

                        
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
