

<header class="fixed-top header-content">
    <div class="text-center top-toast py-2 px-3 text-white" id="newsSlider" role="region" aria-live="polite" aria-label="News"></div>
    <div class="bg-overlay">
        <nav class="navbar navbar-expand-lg navbar-custom" aria-label="Main menu">
            <a id="ONNXLogo" class="navbar-brand" href="/index.html">
                <img src="/images/ONNX-Logo.svg" class="d-inline-block align-top onnx-logo" alt="ONNX Home" />
            </a>
            <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-md-top mt-md-0 mt-2" id="navbarNav">
                <div class="mr-auto"></div>
                <div class="my-md-2 mb-0 mt-2 my-lg-0 pl-3 pl-lg-0">
                    <ul class="navbar-nav navbar-nav mr-auto text-uppercase" id="navigation">
                        <li class="nav-item get-started">
                            <a class="nav-link pr-3" href="/get-started.html">GET STARTED</a>
                        </li>
                        <li class="nav-item supported-tools">
                            <a class="nav-link pr-3" href="/supported-tools.html">SUPPORTED TOOLS</a>
                        </li>
                        <li class="nav-item news">
                            <a class="nav-link pr-3" href="/news.html">NEWS</a>
                        </li>
                        <li class="nav-item about">
                            <a class="nav-link pr-3" href="/about.html">ABOUT</a>
                        </li>
						<li class="nav-item about">
                            <a class="nav-link pr-3" href="/media.html">MEDIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-3" href="/slack.html" target="_blank">SLACK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/onnx" target="_blank">GITHUB</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
