<!--<div class="row mb-lg-4 mb-0 partners-logo"> -->
<div class="row mb-2 about-partners-logo text-center">
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Alibaba-Group.png" alt="Alibaba logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-AMD.png" alt="AMD logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-arm.png" alt="Arm logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-aws.png" alt="AWS logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-baidu.png" alt="Baidu logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Bitmain.png" alt="BITMAIN logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Ceva.png" alt="CEVA logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-faceboom-open-source.png" alt="Facebook logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-GRAPHCORE.png" alt="GRAPHCORE logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-habana.png" alt="Hababa logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Helwett-Packard.png" alt="Hewlett Packard logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-HUAWEI.png" alt="Huawei logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-IBM.png" alt="IBM logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Idein-Inc.png" alt="Idein Inc logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-InterlAI.png" alt="Intel AI logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MathWorks.png" alt="MathWorks logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MAXAR.png" alt="Maxar logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MEDIATEK.png" alt="MEDIATEK logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MI.png" alt="Xiaomi logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Microsoft.png" alt="Microsoft logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-nvidia.png" alt="NVIDIA logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-NXP.png" alt="NXP logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Oath.png" alt="Oath logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-OctoML.png" alt="OctoML logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Preferred-Networks.png" alt="Preferred Networks logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-siemens.png" alt="Siemens logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-sony.png" alt="Sony logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Qualcomm.png" alt="Qualcomm logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-SAS.png" alt="SAS logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Skymizer.png" alt="Skymizer logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Synopsys.png" alt="Synopsys logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Tencent.png" alt="Tencent logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-unity.png" alt="Unity logo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Tengine.png" alt="Tengine logo"></div>
</div>
