<!--<div class="row mb-lg-4 mb-0 partners-logo"> -->
<div class="row mb-2 about-partners-logo text-center">
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-ABBYY.png" alt="ABBYY"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-aizon.png" alt="Aizon"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Alibaba-Group.png" alt="Alibaba"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-AMD.png" alt="AMD"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-arm.png" alt="Arm"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-aws.png" alt="AWS"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-axera.png" alt="AXera"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-baidu.png" alt="Baidu"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-beckhoff.png" alt="Beckhoff"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Bitmain.png" alt="BITMAIN"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Cadence.png" alt="Cadence"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Ceva.png" alt="CEVA"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-ClearBlade.png" alt="ClearBlade"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Datakalab.png" alt="Datakalab"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-faceboom-open-source.png" alt="Facebook"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-FuriosaAI.png" alt="Furiosa"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-GRAPHCORE.png" alt="GraphCore"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Groq.png" alt="Groq"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-habana.png" alt="Hababa"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-hailo.png" alt="Hailo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Helwett-Packard.png" alt="Hewlett Packard"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-HUAWEI.png" alt="Huawei"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-HuggingFace.png" alt="Hugging Face"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-IBM.png" alt="IBM"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Idein-Inc.png" alt="Idein"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Intel.png" alt="Intel AI"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MathWorks.png" alt="MathWorks"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MAXAR.png" alt="Maxar"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MEDIATEK.png" alt="Mediatek"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MI.png" alt="Xiaomi"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Microsoft.png" alt="Microsoft"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-MosaicML.png" alt="MosaicML"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-nvidia.png" alt="NVIDIA"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-NXP.png" alt="NXP"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-OctoML.png" alt="OctoML"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Oracle.png" alt="Oracle"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-OPEN AI LAB.png" alt="Open AI Lab"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Preferred-Networks.png" alt="Preferred Networks"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-recogni.png" alt="Recogni"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-siemens.png" alt="Siemens"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-sony.png" alt="Sony"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Qualcomm.png" alt="Qualcomm"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-QuantCo.png" alt="QuantCo"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-SAS.png" alt="SAS"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-SenseTime.png" alt="SenseTime"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Skymizer.png" alt="Skymizer"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Synopsys.png" alt="Synopsys"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-Tencent.png" alt="Tencent"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-TSINGMICRO.png" alt="TSINGMICRO"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-unity.png" alt="Unity"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-verizonmedia.png" alt="Verizon Media"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-vmware.png" alt="VMware"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-wolfram.png" alt="Wolfram"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-yandex.png" alt="Yandex"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-zama.png" alt="Zama"></div>
    <div class="col col-7-3 mb-5"><img src="./images/logos/logo-zetane.png" alt="Zetane"></div>
</div>
