# Copyright (c) ONNX Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

name: linting-actions
on: [push, pull_request]
jobs:
  json-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: json-lint
        uses: ocular-d/json-linter@0.0.2
